nltk_data



logs
eval/classification/gender_classification/log
eval/classification/physical_classification/log
eval/classification/race_classification/log

eval/open_ended/image_tasks/image_description/Phi-3.5-vision-instruct/output
eval/open_ended/image_tasks/story_generation/Phi-3.5-vision-instruct/output
eval/open_ended/text_tasks/story_generation/Llama-3.2-11B-Vision-Instruct
eval/open_ended/text_tasks/story_generation/Llama-3.2-11B-Vision-Instruct
eval/open_ended/text_tasks/story_generation/Phi-3.5-vision-instruct/output

generate_sft_data/Llama-3.2-11B-Vision-Instruct
generate_sft_data/llava1.5-7b-hf
generate_sft_data/Phi-3.5-vision-instruct/physical_gender
generate_sft_data/Phi-3.5-vision-instruct/physical_race
generate_sft_data/Phi-3.5-vision-instruct/race_gender/D0
generate_sft_data/Phi-3.5-vision-instruct/race_gender/D1/000001_D1_race_gender.json
generate_sft_data/Phi-3.5-vision-instruct/race_gender/D1/000100_D1_race_gender.json
generate_sft_data/Phi-3.5-vision-instruct/race_gender/D1/001000_D1_race_gender.json
generate_sft_data/Phi-3.5-vision-instruct/race_gender/D1/010000_D1_race_gender.json
generate_sft_data/Phi-3.5-vision-instruct/race_gender/D1/100000_D1_race_gender.json

sft_dataset/*

test_dataset/*